<h1>List of Articles</h1>
<ul>
    <% @articles.each do |article| %>
    
    <a href="<%=article_path(article)%>">
        <li>
            <%= article.title%>
        </li>
    </a>
    <% end %>
</ul>